<div class="panel-group" id="accordion2" padding-top="10px">
	<% for c in Course.all %>
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= c.id %>">
				  <%=c.number %> - <%= c.name %>
				</a>
			  </h4>
			</div>
			<div id="collapse<%=c.id%>" class="panel-collapse collapse">
			  <div class="panel-body">
				<%= simple_format(c.description) %>
			  </div>
			</div>
		  </div>
	<% end %>
</div>