<div class="list-group" style="padding-left:125px; padding-right:5px">
<% for e in Employment.all %>
  <a class="list-group-item list-group-item-success" href="" data-toggle="modal" data-target="#<%=e.id%>"><h4><%=e.position%> - <%=e.company%></h4></a>
<% end %>
</div>


<!-- Modal -->
<% for e in Employment.all %>
<div class="modal fade" id="<%=e.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%=e.position%> - <%=e.company%></h4>
      </div>
      <div class="modal-body">
        <%=e.description%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>