<div class="container">
	
	<div class="row clearfix" padding-top="10px">
		<div class="row" padding-top="10px">
		<div class="row">
			<% for c in Staff.all %>
			
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="<%= c.image %>" />
						<div class="caption">
							<h3>
								<%= c.name%>
							</h3>
							<p>
								<%= c.description %>
							</p>
							<p>
							<% if c.cis_page.present? %>
								<a class="btn btn-primary" href="<%= c.cis_page %>">CIS Page</a> 
							<%else %>
							<%end%>
							<% if c.personal_page.present? %>
								<a class="btn btn-primary" href="<%= c.personal_page %>">Personal Page</a>
							<%else %>
							<%end%>
							</p>
						</div>
					</div>
				</div>
				<p></p>
				
			
			<% end %>
			</div>
		</div>
	</div>
	
</div>