
<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
	a:hover
	{
		background:#462574;
    
	}
  </style>
  <script>
 $(function(){
  var hash = window.location.hash;
  hash && $('ul.nav a[href="' + hash + '"]').tab('show');

  $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
  });
});
  </script>
  <body style="padding-bottom:70px; padding-top:70px; background-color:#EEEDE9">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#7031BE; padding-top:0px">

	       <div class="container-fluid">

            <div class="navbar-header">	
            	
      		    <a class="navbar-brand" href="welcome#home" style="color:white"><img src="/images/cis_logo.jpg" alt="some_text" height="42" width="42" style="padding-top:5px; padding-right:2px; padding-left:5px" /></img> Computer and Infomation Sciences Student Portal</a>
            </div>
	       </div>
      </nav>
  
  <!--Set up tabs and what they say-->
    <div class="row">
      <div class="col-md-1">
      <div id="div_sidebar" class="tabbable tabs-left"> 
      <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab" style="color:black">Home</a></li>
        <li><a href="#events" data-toggle="tab" style="color:black">Events</a></li>
      	<li><a href="#clubs" data-toggle="tab" style="color:black">Clubs</a></li>
      	<li><a href="#staff" data-toggle="tab" style="color:black">Staff</a></li>
      	<li><a href="#projects" data-toggle="tab" style="color:black">Projects</a></li>
      	<li><a href="#research" data-toggle="tab" style="color:black">Research</a></li>
      	<li><a href="#academics" data-toggle="tab" style="color:black">Academics</a></li>
      	<li><a href="#employment" data-toggle="tab" style="color:black">Employment</a></li>
      	<li><a href="#classes" data-toggle="tab" style="color:black">Classes</a></li>
      	<li><a href="#studygroups" data-toggle="tab" style="color:black">Study Groups</a></li>
      </ul>
    </div>
  </div>
  
 <!--Start of the tab content-->
 
  <div class="col-md-11" >
  <div class="tab-content" >
  
    <div class="tab-pane active" id="home" >
      <%= render "home" %>
    </div>
	
    <div class="tab-pane" id="events">
      <%= render "even" %>
    </div>
	
	<div class="tab-pane" id="clubs">
      <%= render "clubs" %>
    </div>
	
	
	<!--This is the div for the Staff page. It will contain relative information about Faculty and staff
		incuding links to websites. This will be implemented later in ruby but for now is a place holder.-->
	<div class="tab-pane" id="staff">
      <%= render "staff" %>
    </div>
	
	<!-- Projects page.-->

	<div class="tab-pane" id="projects">

	<%= render "projects" %> 
	</div>

   

	
	<div class="tab-pane" id="research">
	<%= render "research" %>
	</div>
	
	<div class="tab-pane" id="academics">
       <%= render "academics" %>
    </div>
	
	<div class="tab-pane" id="employment">
      <%= render "employment" %>
    </div>
	
	
	
	<!--Toggles for classes in CIS department. Place holder until implemented in Rails -->
	   <div class="tab-pane" id="classes">
		    <%= render "classes" %>
      </div>
	
	   <div class="tab-pane" id="studygroups">
        <%= render "study" %>
    </div>
    </div>
	
  </div>
  </div>
  
</div>

  </body>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="border-top:2px solid black; text-align:center; background-color:#FFFFFF">
  <div class="container-fluid" align="center" style="text-align:center">
    <ul class="nav navbar-center" align="center" style="text-align:center">
    	<div style="text-align:center">
	    	<h4><a href="http://www.ksu.edu" target="_blank" style="color:black; hover {color:#FF00FF}">KSU.EDU</a> - 
	    	<a href="http://www.cis.ksu.edu" target="_blank" style="color:black">CIS Mainpage</a> - 
	    	<a href="http://www.k-state.edu/contact/" target="_blank" style="color:black">Contact Us</a></h4>
	    </div>
    </ul>
  </div>
</nav>

</html>

